.overlay-container{
    background: #00000070;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 23;
    visibility: visible;

    &.is-hidden{
        z-index: -1;
        visibility: hidden;

    }
}