@import 'src/style/color.scss';
.skeleton-loader-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
   
  .skeleton-loader{
    margin-bottom: 5px;
    width: 100%;
    height: 20px;
    animation: loading 1.4s ease-in-out infinite;
    border-radius: 8px;
    background: $silver;
  }
   @keyframes loading {
        0% {
        opacity: 1;
        }
        50% {
        opacity: 0.5;
        }
        100% {
        opacity: 1;
        }
    }
}
