@import "../../../style/color.scss";
.password-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;

    &:focus {
      outline: none;
    }
  }
  progress {
    width: 100%;
    height: 10px;
    background: $white;

    &::-webkit-progress-bar,&::-webkit-progress-value {
      border-radius: 20px;
    }
    
  }progress[value^="25"]::-webkit-progress-value {
      background-color: red;
      transition: all 1s;
    }
    progress[value^="50"]::-webkit-progress-value {
      background-color: #ffe600;
      transition: all 1s;
    }
    progress[value^="75"]::-webkit-progress-value {
      background-color: #ffe600;
      transition: all 1s;
    }
  .password-hint {
    list-style: none;
  }
}
