table {
  border-collapse: collapse;
  width: 100%;
  thead {
    tr {
      border-bottom: 1px solid rgb(207, 207, 207);
      gap: 4px;
    }
    th {
      cursor: pointer;
      padding: 0 10px;
      text-align: start;
      line-height: 36px;

      fa-icon {
        float: right;
      }
    }
  }
}
tbody {
  tr {
    border-bottom: 1px solid rgb(207, 207, 207);
    &:hover {
      background: #ececec;
    }
    td {
      padding-left: 10px;
      line-height: 40px;
    }
  }
}
