<div class="footer-container">
    <div class="social-media">
        <p>
           Stay up to date and what were doing!
        </p>
        <ul>
            <li>
                <fa-icon [icon]="faTwitter"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="faFacebook"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="faInstagram"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="faLinkedin"></fa-icon>
            </li>
        </ul>
    </div>
    <small>© 2026 Kaung Myat Kyaw. All rights reserved.</small>
</div>