@import '../../../style/color.scss';
.tabs {
  display: flex;
  .tab {
    margin: 10px 8px;

    div {
      cursor: pointer;
      &.is-active {
        border-bottom: 2px solid $lightblue ;
      }
    }
  }
}
