@import "../../../style/color.scss";
.loader-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.39);
  z-index: 12;
  backdrop-filter: blur(5px);
  .loader-container {
    display: flex;
    justify-content: center;
    .loader {
      position: absolute;
      top: 35%;
      .h1 {
        color: black;
      }
      .circular {
        border: 5px solid $white;
        border-radius: 50%;
        border-top: 5px solid $lightblue;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
