@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "./style/color.scss";
@import "./style/mixin.scss";
* {
  scroll-behavior: smooth;
  font-family: "Poppins";
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.ripple {
  background-position: center;
  transition: all 0.8s;
  &:hover {
    color: white;
    transition: background 0.8s;
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
      center/15000%;

    &:active {
      background-color: #6eb9f7;
      background-size: 100%;
      transition: background 0s;
    }
  }
}

.btn {
  display: inline-block;
  bottom: $lightblue;
  padding: 8px 12px;
  margin: 0px 4px;
}
.ribbon {
  z-index: 10;
  position: fixed;
  color: white;
  padding: 10px 50px;
  &.top-right {
    top: 30px;
    right: -50px;
    transform: rotate(45deg);
  }
  &.top-left {
    top: 30px;
    left: -50px;
    transform: rotate(-45deg);
  }
  &.bottom-left {
    left: -50px;
    bottom: 30px;
    transform: rotate(45deg);
  }
  &.bottom-right {
    right: -50px;
    bottom: 30px;
    transform: rotate(-45deg);
  }
  &.info {
    background: blue;
  }
  &.warning {
    background: orange;
  }
  &.error {
    background: red;
  }
}
